body {
  background-color: #6F2DBD;
  font-family: candara, optima, cambria, garamond, san-serif;
}

#important {
	background-color: #98A6D4;
	border-radius: 50px;
	text-align: center;
}

#canvas-wrapper {
	width: 90%;
	height: 90%;
	max-width: 1280px;
	max-height: 720px;
	margin: auto;
	background-color: #247B7B;
	border-radius: 25px;
}

#mainGame {
	cursor: crosshair;
	border-radius: 25px;
	max-width: 1280px;
	max-height: 720px;
	margin: 0 auto;
}

#info {
	background-color: #FFAD69;
	border-radius: 15px;
	text-align: center;
}